<a href="https://colab.research.google.com/github/YaminiBendale/Makaan.com_RealEstate_DataScrabed/blob/main/Makaan_com_Pune_City__Real_Estate_Data_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing all the needed modules

In [24]:
#import all the packages

import requests
from bs4 import BeautifulSoup
import pandas as pd
import time
from IPython.display import clear_output

Base url of the web page

In [20]:
base_url = 'https://www.makaan.com/pune-residential-property/buy-property-in-pune-city?page='

In [25]:
owner_info= []
seller_type = []
bhk = []
p= []
s = []
loc = []
st = []
pps = []

In [26]:
for i in range(1,51):
  time.sleep(3)   # to give a pause between each requests
  url = base_url+str(i)
  req = requests.get(url)
  soup = BeautifulSoup(req.text,'html')

  #owner info
  ow_info = soup.findAll('div',attrs={'class':'seller-info'})
  for j in ow_info:
    owner_info.append(j.a.span.text)
  
  #seller type
  s_typ = soup.findAll('span',attrs={'class':'seller-type'})
  for j in s_typ:
    seller_type.append(j.text)
  
  #bhk info
  bhk_info = soup.findAll('div',attrs={'class':'title-line'})
  for j in bhk_info:
    bhk.append(j.strong.span.text)

  #price info
  p_info = soup.findAll('div',attrs={'data-type':'price-link'})
  for  j in p_info:
    p.append(j.text)
  
  #size info
  s_info = soup.findAll("td",attrs={'class':'size'})
  for j in s_info:
    s.append(j.text)
  
  #location info
  loc_info = soup.findAll('span',attrs={'itemprop':'addressLocality'})
  for j in loc_info:
    loc.append(j.text)
  
  #status info
  st_info = soup.findAll('tr',attrs={'class':'hcol w44'})
  for j in st_info:
    st.append(j.text)

  #price per sqft info
  pps_info = soup.findAll('td',attrs={'class':'lbl rate'})
  for j in pps_info:
    pps.append(j.text)

To make a data frame,
  Cross checking the number of data to enter in each columns are same.

In [27]:
print('owner_info = ',len(owner_info))
print('seller_type = ',len(seller_type))
print('Bhk = ',len(bhk))
print('p = ',len(p))
print('s = ',len(s))
print('loc = ',len(loc))
print('st = ',len(st))
print('pps = ',len(pps))

owner_info =  1000
seller_type =  1000
Bhk =  1000
p =  1000
s =  1000
loc =  1000
st =  1000
pps =  1000

Making a data frame in tabular form using pandas

In [28]:
data = pd.DataFrame({'SELLER INFO':owner_info,
                     'SELLER TYPE':seller_type,
                     'BHK':bhk,
                     'PRICE':p,
                     'Area in sqft':s,
                     'LOCATION':loc,
                     'STATUS':st,
                     'PRICE PER SQ.FT':pps})
data

                   SELLER INFO  ... PRICE PER SQ.FT
0                  Kiera Homes  ...   4,000 / sq ft
1               Aakar Realties  ...   5,074 / sq ft
2            The Unique Spaces  ...   7,534 / sq ft
3      Goel Ganga Developments  ...   7,944 / sq ft
4            Nirman Developers  ...  10,068 / sq ft
..                         ...  ...             ...
995                 Proplinein  ...   5,665 / sq ft
996                 Proplinein  ...   6,560 / sq ft
997                 Proplinein  ...   6,560 / sq ft
998                 Proplinein  ...   6,560 / sq ft
999  Nest real estate services  ...   5,868 / sq ft

[1000 rows x 8 columns]

Creating a csv file of the collected data

In [32]:
data.to_csv('PuneCity_ApartmentData_makaan.csv',index=False)